* {
  margin: 0px;
  padding: 0px; }

/* Fondo de pantalla */
body {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%; }

/* Cabecera de pantalla */
.titulo {
  color: white;
  text-align: center; }

.header {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  width: 100%;
  justify-content: center;
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover; }

.lennon {
  font-family: cursive;
  font-variant: small-caps;
  background-image: linear-gradient(to right, grey, black);
  background-size: auto;
  text-align: center; }

.esfumado {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.logo {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  opacity: 0.32; }

/* Menu de navegacion */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

a {
  text-decoration: none;
  color: whitesmoke; }

/*Servicios*/
/* Div de imagenes */
.h2 {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  text-align: center; }

.div {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto; }

.img {
  width: 100%;
  max-width: 175px;
  height: 100%;
  max-height: 200px;
  border-radius: 10px; }

.color {
  background-color: #efeff3; }

/* Pie de pagina */
.footer {
  background-color: black; }

/* Nosotros */
.foto {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px  2px grey;
  opacity: 0.9;
  z-index: 10; }

.foto-contenedor {
  display: flex;
  align-items: center;
  justify-content: center; }
  .foto-contenedor p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    white-space: inherit;
    margin-top: 5rem;
    color: #212529; }

#h1 {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  color: #0500d3da; }

/* Galeria */
.imagenes {
  height: auto;
  max-height: 50rem;
  width: auto; }

.cabeza {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

/* Formulario */
.formulario {
  background-image: url(../imagenes/madera.jpg);
  background-size: cover; }

.centro {
  margin-left: 25vw;
  text-align: center;
  width: 50vw; }

.centrado {
  margin: auto;
  width: 100%;
  max-width: 50rem;
  height: 100%;
  max-height: 40rem;
  padding: 10px;
  border: 3px solid black;
  background-color: #f8f7f6; }

fieldset {
  color: #0751f3;
  font-family: 'Times New Roman', Times, serif; }

section .form {
  text-align: center; }

#input {
  background-color: white;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif; }

.fondo-contacto {
  background-color: white;
  color: #0500d3da; }
  .fondo-contacto p {
    font-size: 1rem; }

/* Valores */
.valores {
  background-size: cover;
  color: white; }

.txt-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; }

@media (max-width: 480px) {
  .navbar-nav {
    position: fixed;
    opacity: 0.5;
    z-index: 3;
    font-size: 5px; }
    .navbar-nav:hover {
      border: 2px solid #474758;
      border-radius: 10%; } }

/*servicios*/
.color-box {
  background-color: #dee2e6;
  border: 1px solid;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  z-index: 3;
  border-radius: 10px;
  width: 300px;
  height: 300px; }
  .color-box p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, fantasy;
    text-align: center; }
  .color-box h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600; }

/* nosotros */
.img-fondo {
  background-image: url(/imagenes/herramientas.png);
  background-color: #212529;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
  box-shadow: 0px 0px 8px black;
  opacity: 1;
  z-index: -5; }
  .img-fondo p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #212529;
    z-index: 10;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    white-space: inherit;
    margin-top: 5rem; }

div p {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.8rem;
  text-align: center;
  white-space: inherit;
  margin-top: 5rem; }
